<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usuarios/index}"
>
<div layout:fragment="SectionContent">
  <h2>Listado de Clientes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
    </thead>
    <tbody>
     
    </tbody>
  </table>
</div>

<div class="w-25" layout:fragment="FooterRight">
  <h4>Seccion Clientes/Listar</h4>
 
</div>