<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos del Cliente</h1>
    <table border=1>
        <tr>
            <td>Nombre</td>
            <td>Edad</td>
            <td>Cantidad</td>
        <tr>
        <tr>
            <td th:text="${nombre}">nombre</td>
            <td th:text="${edad}">edad</td>
            <td th:text="${cantidad}">cantidad</td>
    </table>

</body>
</html>