<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head class="base">
    <title>Libreria Picasso-Seccion Libros</title>
</head>
<body>

    <div layout:fragment="MainContent"
        id="main" style="min-height: 75%" 
        class="d-flex flex-row align-items-start justify-content-around border p-2">
        <nav id="ppal" 
            class="d-flex flex-column align-items-center justify-content-center border" 
            style="width: 15%; height: 400px">
            <a class="border p-2" style="width:90%" href="http://localhost:8080/libros">  
            Home
            </a>
            <a class="border p-2" style="width:90%"  href="http://localhost:8080/libros/listar">  
            Listar Libros
            </a>
            <a class="border p-2" style="width:90%"  href="http://localhost:8080/libros/new">  
            Nuevo Libro
            </a>
        </nav>
        <section class="border" style="width: 70%">
            <div layout:fragment="SectionContent">
                <h2>Seccion de Libros</h2>
            </div>
        </section>
        <aside class="border"  style="width: 15%; min-height:500px">
            Favoritos
        </aside>
    </div>
    <div class="w-25" layout:fragment="FooterRight">
        <h4>Seccion Libros</h4>
    </div>

</body>
</html>