<!DOCTYPE html>
<!-- xmlns:layout: que la plantilla puede ser heredada -->
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout" 
    lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Turística</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/webjars/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
    <header th:insert="~{frontend/layout/components/header :: headerbase}">
        <h1>header base</h1>
    </header>
    <main>
      <!--layout:fragment: el metodo de la clase padre que se va a redefinir en las hijas -->
        <div layout:fragment="MainBase"
             class="container" style="min-height: 600px; border: 1px solid black ">
            Main baseee
        </div>
    </main>
    <footer th:insert="~{frontend/layout/components/footer :: footerbase}">
    </footer>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>

</body>
</html>