<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/estilo.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a> | 
                <a href="/qsomos">Quienes Somos</a> | 
                <a href="/servicios">Servicios</a> | 
                <a href="/ofertas">Ofertas</a> | 
                <a href="/contacto">Contacto</a> |
                <a href="/fpago">Formas de Pago</a> 

            </nav>

        </header>
        <h1>Zona de Contacto ...</h1>
        <img src="/images/pizza.png"
    </body>
</html>