

<html xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{frontend/layout/base}"
>

<div layout:fragment="MainBase" class="container-fluid">
    <section 
        class="d-flex flex-row flex-wrap fl p-2 bd-highlight ">
        <div class="p-2 w-75 border m-2"> 
            Filtro de busqueda Zona
        </div>
        <div class="p-2 w-25 border"
             style="min-height:500px"
            >Filtro de busqueda Precios</div>
        <div class="p-2 w-50 border">Listado de Hoteles</div>
        <div class="p-2 w-25 border">Info de la Zona</div>
        
    </section>
</div>

<div layout:fragment="FooterEnlacesBase">
    <span>Enlaces a Hoteles</span>
</div>