<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria Picasso Base</title>
    <!-- Bootstrap core CSS -->
   <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <header th:insert="~{site/header :: headerbase}">
        <h1>header base</h1>
    </header>
    <main class="border" style="min-height: 500px">Main base</main>
    <footer class="text-center border">
       <h5 class="text-center"> Libreria Picasso - Todos los derechos reservados  </h5>
    </footer>
     
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>

</body>
</html>